*
!.gitignore
!.dir_colors
!.xinitrc.*
!.Xresources
!.zsh_colors
!.zshrc
!.zshenv
!.profile
!.xprofile

!.dynamic-colors
!.dynamic-colors/**

!.config

!.config/scripts/
!.config/scripts/**

!.config/awesome/
!.config/awesome/**

!.config/i3/
!.config/i3/**
!.config/dunst/
!.config/dunst/**

!.config/dwb/
!.config/dwb/keys
!.config/dwb/settings
!.config/dwb/searchengines

!.config/zsh/
!.config/zsh/zsh_colors
!.config/zsh/.zshrc
!.config/zsh/*.sh
!.config/zsh/plugins
!.config/zsh/plugins/**
!.config/zsh/zkbd
!.config/zsh/zkbd/**

!.config/git/
!.config/git/config

**/.idea/**
**/*.iml