*
!.gitignore
!.dir_colors
!.xinitrc.awesome
!.Xresources
!.zsh_colors
!.zshrc
!.zshenv

!.dynamic-colors
!.dynamic-colors/**

!.config
!.config/awesome/
!.config/awesome/**

!.config/zsh/
!.config/zsh/plugins
!.config/zsh/plugins/**
