*
!.gitignore
!.dir_colors
!.xinitrc.awesome
!.xinitrc.xfce
!.Xresources
!.zsh_colors
!.zshrc
!.zshenv

!.dynamic-colors
!.dynamic-colors/**

!.config

!.config/awesome/
!.config/awesome/**

!.config/dwb/
!.config/dwb/keys
!.config/dwb/settings
!.config/dwb/searchengines

!.config/zsh/
!.config/zsh/zsh_colors
!.config/zsh/.zshrc
!.config/zsh/*.sh
!.config/zsh/plugins
!.config/zsh/plugins/**

!.config/git/
!.config/git/config
