#!/bin/sh

xrdb -merge ~/.Xresources

setxkbmap "us, ru" -option grp:caps_toggle,grp_led:caps

urxvtd -q -f -o

xsetroot -solid "#131313"
# xautolock -time 15 -corners 00-0 -cornersize 5 -locker 'i3lock -p default -c 1E2320' &

if [ -s ~/.Xmodmap ]; then
	xmodmap ~/.Xmodmap
fi