!! xrdb .Xresources
Xft.dpi: 192

URxvt.depth: 32
URxvt.scrollBar: false

URxvt*dynamicColors: true

URxvt.secondaryScroll: true
URxvt.loginShell: true
URxvt.borderLess: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt*iso14755: false

URxvt.font: xft:Source Code Pro:size=10
!!URxvt.font: xft: Anonymous Pro-11
!!URxvt.font: xft: Anonymous Pro-13
!!URxvt.font: xft: Anonymous Pro-20
URxvt.boldFont:
URxvt.boldItalicFont:

URxvt.perl-ext-common: default,clipboard,tabbedex
URxvt.modifier: mod4
URxvt.saveLines: 12000

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 5
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.autohide: true
URXvt.tabbed.reopen-on-close: true
URxvt.tabbed.no-tabbedex-keys: true
URxvt.tabbed.title: false
URxvt.keysym.C-S-Left: perl:tabbedex:move_tab_left
URxvt.keysym.C-S-Right: perl:tabbedex:move_tab_right
URxvt.keysym.S-Down: perl:tabbedex:new_tab
URxvt.keysym.S-Right: perl:tabbedex:next_tab
URxvt.keysym.S-Left: perl:tabbedex:prev_tab
URxvt.keysym.S-Up: perl:tabbedex:rename_tab

!! drop in Solarized colorscheme for Xresources/Xdefaults

#define S_base03        #001d26
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

URxvt.background:            S_base03
URxvt.foreground:            S_base00
URxvt.cursorColor:           S_base1
URxvt.pointerColorBackground:S_base01
URxvt.pointerColorForeground:S_base1

!! black dark/light
URxvt.color0:                S_base02
URxvt.color8:                S_base03

!! red dark/light
URxvt.color1:                S_red
URxvt.color9:                S_orange

!! green dark/light
URxvt.color2:                S_green
URxvt.color10:               S_base01

!! yellow dark/light
URxvt.color3:                S_yellow
URxvt.color11:               S_base00

!! blue dark/light
URxvt.color4:                S_blue
URxvt.color12:               S_base0

!! magenta dark/light
URxvt.color5:                S_magenta
URxvt.color13:               S_violet

!! cyan dark/light
URxvt.color6:                S_cyan
URxvt.color14:               S_base1

!! white dark/light
URxvt.color7:                S_base2
URxvt.color15:               S_base3
